    @import url('https://unpkg.com/css.gg@2.0.0/icons/css/redo.css');
    body {
        padding-top: 10%;
      background-color: #E1F5FE;
      text-align: center;
      font-family: Arial, sans-serif;
      overflow: hidden;
    }
    h1 {
      font-size: 32px;
      margin-top: 100px;
    }
    h2 {
      font-size: 90px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    button {
      display: flex;
      align-items: center; /* Align items vertically */
      justify-content: center; /* Align items horizontally */
      padding: 10px 20px;
      font-size: 24px;
      background-color: #2196F3;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 auto; /* Center the button horizontally */
    }
    button:hover {
      background-color: #1976D2;
    }

     .gg-redo {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-right-color: transparent;
    border-radius: 100px;
    transition: transform 0.5s;
    margin-right: 5px; /* Add margin for spacing */
    }

    .gg-redo::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: -3px;
    right: -1px;
    transform: rotate(68deg)
    }

    button:hover .gg-redo {
    transform: rotate(90deg);
    }


@media screen and (max-width: 600px) {
  h1 {
    font-size: 55px;
    margin-top: 160px;
}
h2 {
  font-size: 11em;
  margin-top: 54px;
  margin-bottom: 150px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
  font-size: 4.5em;
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
}
}

